<noscript>
    <div class="noscript">
        <span>This page needs JavaScript to function and it seems like you have disabled or blocked it</span>
    </div>
</noscript>

<header>
    <a href="/" class="company">
        <div>
            <h1 class="pollx">POLLX</h1>
            <p>Free online Polls</p>
        </div>
    </a>

    <div class="placeholder"></div>

    <label for="open-dropdown" class="button" id="open-dropdown-label">
        <i class="fas fa-bars"></i>
    </label>
    <input type="checkbox" name="open-dropdown" id="open-dropdown">

    <div class="nav-dropdown">
        <form action="/search" method="get" id="search-form-nav">
            <input type="text" name="q" placeholder="Find poll">
            <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
        </form>
        <a href="/login" class="button">Login</a>
    </div>
</header>
