main div.content div.poll, main div.content div.solution {
    text-align: left;
}

.poll {
    margin-top: 25px;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

span.checkmark {
    width: 22px;
    height: 22px;
    background-color: var(--fg);
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.option input[type=radio] {
    width: 0;
    height: 0;
    display: none;
}

.option input:checked ~ .checkmark::before {
    content: "";
    width: 60%;
    height: 60%;
    background-color: cadetblue;
    position: absolute;
    border-radius: 50%;
}

circle {
    fill: transparent;
    stroke: cadetblue;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transition: stroke-dasharray .3s ease;
}
  
svg {
    margin: 0 auto;
    transform: rotate(-90deg);
    background: #ddd;
    border-radius: 50%;
    display: block;
}