<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/main.css">
    <!--script src="src/main.js" defer></script-->
    <title>POLLX: Free online Polls</title>

    <!-- Mainfest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <noscript>
        <div class="noscript">
            <span>This page needs JavaScript to function and it seems like you have disabled or blocked it</span>
        </div>
    </noscript>

    <header>
        <a href="#" class="company">
            <div>
                <h1 class="pollx">POLLX</h1>
                <p>Free online Polls</p>
            </div>
        </a>

        <div class="placeholder"></div>

        <div>
            <input type="text" placeholder="Find poll">
            <a href="#" class="button">Create new Poll</a>
        </div>
    </header>

    <main>
        <div class="content">
            <div>
                <h1 class="pollx">Create Poll</h1>
            </div>
        </div>
    </main>
    <footer>
        <span class="pollx">POLLX</span> &copy; by Benjamin Grau 2020
    </footer>
</body>

</html>
