<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/home.css">
    <script src="/src/js/base.js" defer></script>

    <meta name="description" content="You can't decide whether to wear pink or blue, which PC to buy or what to eat? With this website your friends and other people on the internet can decide for you!">
    <title>POLLX: Free online polls</title>
    <!-- Open Graph Tags -->
    <meta property="og:title" content="POLLX: Home">
    <meta property="og:description" content="POLLX &ndash; Free online polls">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Pollx">
    <% if (locals.url) { %>
        <meta property="og:image" content="<%= url %>logo.svg">
        <meta property="og:url" content="<%= url %>">
    <% } %>

    <!-- Mainfest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <%- include('modules/header') %>

    <main>
        <div class="content">
            <div>
                <h1 class="pollx">POLLX</h1>
                <p>Simply create Polls online</p>
            </div>

            <div>
                <p>
                    You can't decide whether to wear pink or blue, which PC to buy or what to eat? <br>
                    With this website your friends and other people on the internet can decide for you!
                </p>
            </div>

            <div>
                <a href="#" class="button">Create new Poll</a>
            </div>

            <hr>

            <div>
                <h3 class="pollx">Some polls you can vote on:</h3>
                <div class="polls-preview" id="polls-preview">
                    <div class="spinner-container" id="preview-spinner-container">
                        <div class="lds-dual-ring" id="preview-spinner"></div>
                        <p class="spinner-text">Loading...</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('modules/footer') %>

    <script>
        document.body.onload = () => {
            displayRandomPolls()
        }
    </script>
</body>

</html>
