$bg: #f2f2f2;
$fg: #fff;
$text: #262626;
$disabled: #ccc;
$popUpBg: rgba(26, 26, 26, 0.7);

$color0: #031d44ff;
$color1: #04395eff;
$color2: #3a6e73ff;
$color3: #70a288ff;
$color4: #a5ad87ff;
$color5: #dab785ff;
$color6: #d5896fff;
$color7: #dd705bff;
$color8: #ad4846ff;
$color9: #583345ff;
