@import 'base';
@import 'color-elements';
@import 'inputs';
@import 'pop-up';

main div.content div.poll, .chart-description {
    text-align: left;
}

.result {
    display: none;
    padding-top: 40px;
}

#spinner-container {
    display: none;
    margin-top: 100px;
}

.spinner-text {
    font-size: 20px;
    margin-top: 20px;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 25px 0;
}

circle {
    fill: transparent;
    stroke: cadetblue;
    stroke-width: 50;
    stroke-dasharray: 30 158;
    transition: stroke-dasharray .3s ease;
}

svg {
    background: #ddd;
    display: block;
}

.poll-and-result-container {
    display: flex;
    flex-direction: row;
}

.poll-and-result-container > * {
    flex-grow: 1;
}

.chart {
    width: 100%;
    max-height: 500px;
}

.charts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.chart-description {
    min-width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    margin: 20px 0;
}

.description, .title {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .charts {
        flex-direction: column;
    }

    .result {
        padding-top: 20px;
        border-top: 1px solid $fg;
    }

    .voted .poll {
        padding-bottom: 20px;
        border-bottom: 1px solid $fg;
    }
}

@media only screen and (min-width: 1200px) {
    .result {
        padding-right: 20px;
        border-right: 1px solid $fg;
    }

    .poll {
        padding-left: 20px;
        border-left: 1px solid $fg;
    }
}

@media only screen and (max-width: 1200px) {
    .poll-and-result-container {
        flex-direction: column;
    }
}

#preview-spinner-container {
    margin: 0 auto;
}
