@import 'base';
@import 'color-elements';
@import 'inputs';
@import 'pop-up';

div.poll,
.chart-description {
    text-align: left;
}

.result {
    display: none;
    padding-top: 40px;
}

.spinner-text {
    font-size: 20px;
    margin-top: 20px;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 25px 0;
}

svg {
    background: $diagrammBg;
    display: block;
    margin-top: 20px;
}

.poll-and-result-container {
    display: flex;
    flex-direction: row;

    & > * { flex-grow: 1; }
}

.chart {
    width: 100%;
    max-height: 500px;
}

.charts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.chart-description {
    min-width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description,
.title {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .charts {
        flex-direction: column;
    }

    .voted {
        .poll {
            padding-bottom: 20px;
            border-bottom: $hrBorderWidth solid $fg;
        }

        .result {
            padding-top: 20px;
            border-top: $hrBorderWidth solid $fg;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .voted {
        .poll {
            padding-right: 20px;
            border-right: $hrBorderWidth solid $fg;
        }

        .result {
            padding-left: 20px;
            border-left: $hrBorderWidth solid $fg;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .poll-and-result-container { flex-direction: column; }
}

#preview-spinner-container {
    margin: 0 auto;
}
