@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    /* Colors */
    /* https://coolors.co/031d44-04395e-3a6e73-70a288-a5ad87-dab785-d5896f-dd705b-ad4846-583345 */
    --oxford-blue: #031d44ff;
    --indigo-dye: #04395eff;
    --ming: #3a6e73ff;
    --polished-pine: #70a288ff;
    --sage: #a5ad87ff;
    --burlywood: #dab785ff;
    --copper-crayola: #d5896fff;
    --terra-cotta: #dd705bff;
    --deep-chestnut: #ad4846ff;
    --eggplant: #583345ff;

    --bg: #f2f2f2;
    --fg: #fff;
    --text: #262626;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text);
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
}

footer,
header {
    background-color: var(--fg);
    padding: 12px;
    z-index: 3;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header a.company {
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header .placeholder {
    flex-grow: 1;
}

header h1 {
    font-size: 36px;
}

header p,
header input,
header a.button {
    font-size: 16px;
}

input[type=text],
input[type=email],
textarea {
    padding: 10px;
    color: var(--text);
    border: 1px solid var(--bg);
    border-radius: 4px;
    outline: none;
}

.pollx {
    font-family: 'Roboto Slab', serif;
}

hr {
    border: 1.5px solid var(--fg);
    margin: 20px 0;
}

a.button,
button {
    text-decoration: none;
    padding: 10px;
    color: var(--fg);
    background-color: var(--indigo-dye);
    border: 1px solid var(--indigo-dye);
    border-radius: 4px;
    cursor: pointer;
}

main {
    margin-top: 87px;
    padding: 25px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

main .content {
    max-width: 700px;
    min-width: 75%;
    text-align: center;
}

main .content div {
    margin-bottom: 20px;
}

main .content div a.button {
    margin: 20px;
    display: inline-block;
}

.content h1.pollx {
    font-size: 60px;
}

.polls-preview {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.polls-preview > *, .option > * {
    margin: 10px 0 0 10px;
}

.poll-card {
    background-color: var(--fg);
    padding: 10px;
    border-radius: 4px;
}

.poll-car-title {
    margin-bottom: 10px;
    font-size: 18px;
}

span.checkmark {
    width: 22px;
    height: 22px;
    background-color: var(--fg);
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

input[type=radio],
input[type=checkbox] {
    width: 0;
    height: 0;
    display: none;
}

input[type=radio]:checked~.checkmark::before,
input[type=checkbox]:checked~.checkmark::before {
    content: "";
    width: 60%;
    height: 60%;
    background-color: var(--ming);
    position: absolute;
    border-radius: 50%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--text);
    border-color: var(--text) transparent var(--text) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 600px) {
    header input {
        display: none;
    }

    .polls-preview {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

/* Color elements */

span.color0,
span.color1,
span.color2,
span.color3,
span.color4,
span.color5,
span.color6,
span.color7,
span.color8,
span.color9 {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    border: 4px solid #fff;
}

.color0 {
    fill: var(--oxford-blue);
    background-color: var(--oxford-blue);
}

.color1 {
    fill: var(--indigo-dye);
    background-color: var(--indigo-dye);
}

.color2 {
    fill: var(--ming);
    background-color: var(--ming);
}

.color3 {
    fill: var(--polished-pine);
    background-color: var(--polished-pine);
}

.color4 {
    fill: var(--sage);
    background-color: var(--sage);
}

.color5 {
    fill: var(--burlywood);
    background-color: var(--burlywood);
}

.color6 {
    fill: var(--copper-crayola);
    background-color: var(--copper-crayola);
}

.color7 {
    fill: var(--terra-cotta);
    background-color: var(--terra-cotta);
}

.color8 {
    fill: var(--deep-chestnut);
    background-color: var(--deep-chestnut);
}

.color9 {
    fill: var(--eggplant);
    background-color: var(--eggplant);
}