main div.content div.poll {
    text-align: left;
}

.result {
    display: none;
}

.spinner-container {
    display: none;
    margin-top: 100px;
}

.spinner-text {
    font-size: 20px;
    margin-top: 20px;
}

.msg-container {
    display: none;
    justify-content: center;
}

.poll {
    margin-top: 25px;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.option > * {
    margin: 10px 0 0 10px;
}

circle {
    fill: transparent;
    stroke: cadetblue;
    stroke-width: 50;
    stroke-dasharray: 30 158;
    transition: stroke-dasharray .3s ease;
}

svg {
    background: #ddd;
    display: block;
}

div.charts {
    display: flex;
    flex-direction: row-reverse;
}

.chart-description {
    min-width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    margin: 20px 0;
}

@media only screen and (max-width: 600px) {
    div.charts {
        flex-direction: column;
    }
}
